<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Add a new Wedding</title>
</head>
<body>
    <div class="container"> <!-- BEGIN WHOLE PAGE CONTAINER -->
        <div class="row mt-5"> <!-- BEGIN HEADER ROW -->
            <div class="col">
                <h4>Plan your Wedding!</h4>
            </div>
            <div class="col">
                <h6>
                    <a href="/dashboard">Dashboard</a> |
                    <a href="/logout">Logout</a>
                </h6>
            </div>
        </div> <!-- END HEADER ROW -->

        <div class="row"> <!-- BEGIN NEW WEDDING FORM ROW -->
            <div class="col">
                <partial name="NewWeddingPartial" />
            </div>
        </div><!-- BEGIN NEW WEDDING FORM ROW -->
    </div> <!-- END WHOLE PAGE CONTAINER -->
</body>
</html>