@model cd_c_weddingPlanner.Models.Wedding

<form action="/submitWedding/add" method="post" class="form-group">
    <div class="card m-1 p-3">
        <div>
            <span asp-validation-for="Spouse1"></span>
        </div>
        <label asp-for="Spouse1"></label>
        <input asp-for="Spouse1" class="form-control">

    <div>
        <span asp-validation-for="Spouse2"></span>
    </div>
    <label asp-for="Spouse2"></label>
    <input asp-for="Spouse2" class="form-control">

    <div>
        <span asp-validation-for="WeddingDate"></span>
    </div>
    <label asp-for="WeddingDate"></label>
    <input asp-for="WeddingDate" class="form-control">

    <div>
        <span asp-validation-for="Location"></span>
    </div>
    <label asp-for="Location"></label>
    <input asp-for="Location" class="form-control">

    <div>
        <input type="submit" value="Create" class="btn btn-outline-dark mt-3">
    </div>
</form>