@model cd_c_weddingPlanner.Models.User

<form action="/Register" method="post" class="form-group">
    <div class="card m-1 p-3">
        <div>
            <span asp-validation-for="FirstName"></span>
        </div>
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control">

        <div>
            <span asp-validation-for="LastName"></span>
        </div>
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control">

        <div>
            <span asp-validation-for="Email"></span>
        </div>
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control">

        <div>
            <span asp-validation-for="Password"></span>
        </div>
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control">

        <div>
            <span asp-validation-for="Confirm"></span>
        </div>
        <label asp-for="Confirm"></label>
        <input asp-for="Confirm" class="form-control">
    </div>
    <div>
        <input type="submit" value="Register User" class="btn btn-outline-dark mt-3">
    </div>
</form>